@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --fundo: #F1CEB3;
  --ficha: #00000080;
  --dark-color: #0A0A0A;
  --cor-texto: #FFEEBB;
  --intro-fundo: #FFEEBB00;
  --texto-grande: 4rem;
  --texto-normal: 2rem;
  --texto-pequeno: 1rem;
  --fonte: 'Roboto';
  --tamanho-fonte-1: 100;
  --tamanho-fonte-2: 300;
  --tamanho-fonte-3: 400;
  --tamanho-fonte-4: 700;
}

body {
    background-color: var(--fundo);
    background-image: url("images/leon-liu-NiOyEHxAlpQ-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--cor-texto);
    font-family: var(--fonte);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.flip-img {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
}

.flip-img-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-img-front, .flip-img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-img-front {
    background-color: var(--dark-color);
}

.flip-img-back {
    background-color: var(--dark-color);
    transform: rotateY(180deg);
}

.intro {
    background-color: var(--ficha);
    width: 400px;
    height:400px;
    padding: 1em 2em;
    border-radius: 10px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-texto {
    font-weight: var(--tamanho-fonte-2);
}

.intro-final {
    font-weight: var(--tamanho-fonte-4);
}

.botoes {
    display: flex;
    list-style: none;
    padding: 0;
}

.seq, .ale {
    border: 1px solid var(--cor-texto);
    border-radius: 10%;
    padding: .5em .75em;
    margin: 0 2em;
    font-weight: var(--tamanho-fonte-3);
    font-size: 1.2em;
}

.ficha {
    width: 400px;
    height:400px;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: var(--ficha);
    display: grid;
    grid-template-areas:
    'por . cat'
    'pin pin pin'
    'han han han'
    'som som som';
}

.pinyin {
    font-size: var(--texto-normal);
    text-align: center;
    grid-area: pin;
}

audio {
    font-size: var(--texto-normal);
    text-align: center;
    margin-top: 0;
    padding-bottom: 1em;
    grid-area: som;
}

.hanzi {
    font-size: var(--texto-grande);
    text-align: center;
    margin: 0;
    grid-area: han;
}

.hanzi::before { 
    content: 'hello';
    position: absolute;
    left: -2em;
    top: 0;
    width: 3em;
    height: 3em;
    border: 3em solid transparent;
    border-left-color: yellow;
} 

.hanzi::after {
    content: '>';
}

.portugues {
    color: var(--fundo);
    font-size: var(--texto-pequeno);
    font-style: italic;
    grid-area: por;
}

.categoria {
    color: var(--fundo);
    font-size: var(--texto-pequeno);
    text-align: right;
    grid-area: cat;
}

@media only screen and (max-width: 600px) {

    body {
        width: 100vw;
    }

    .ficha, .intro {
        width: 100vw;
        height:100vh;
    }