@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --fundo: #F1CEB3;
  --ficha: #00000080;
  --cor-escura: #0A0A0A;
  --cor-texto: #FFEEBB;
  --intro-fundo: #FFEEBB00;
  --texto-grande: 4em;
  --texto-normal: 2em;
  --texto-pequeno: 1em;
  --fonte: 'Roboto', sans-serif;
  --peso-fonte-1: 100;
  --peso-fonte-2: 300;
  --peso-fonte-3: 400;
  --peso-fonte-4: 700;
}

body {
    background-color: var(--fundo);
    background-image: url("images/leon-liu-NiOyEHxAlpQ-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--cor-texto);
    font-family: var(--fonte);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center
}

.flip-img {
    background-color: transparent;
    width: 100vw;
    height:100vh;
    perspective: 1000px;
}

.flip-img-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-img-front, .flip-img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-img-front {
    background-color: var(--cor-escura);
}

.flip-img-back {
    background-color: var(--cor-escura);
    transform: rotateY(180deg);
}

.intro, .frases, .perguntas {
    background-color: var(--ficha);
    width: 100vw;
    height:100vh;
    margin: 1em;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-titulo {
    margin: 0;
}

.intro-texto {
    font-weight: var(--peso-fonte-2);
    padding: 2em 1em;
}

.intro-final {
    font-weight: var(--peso-fonte-4);
}

.botoes {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.seq, .ale, .fra, .per {
    width: 100%;
    text-align: center;
    align-self: center;
    border: 1px solid var(--cor-texto);
    border-radius: 10%;
    padding: .5em .75em;
    margin: .8em;
    font-weight: var(--peso-fonte-3);
    font-size: 1.2em;
}

.ficha {
    width: 100vw;
    height:100vh;
    padding: 1em 2em;
    background-color: var(--ficha);
    display: grid;
    grid-template-areas:
    'por . cat'
    'pin pin pin'
    'han han han'
    'som som som';
}

.pinyin {
    font-size: var(--texto-normal);
    text-align: center;
    grid-area: pin;
}

audio {
    font-size: var(--texto-normal);
    text-align: center;
    margin-top: 0;
    padding-bottom: 1em;
    grid-area: som;
}

.hanzi {
    font-size: var(--texto-grande);
    text-align: center;
    margin: 0;
    grid-area: han;
}

.portugues {
    color: var(--fundo);
    font-size: var(--texto-pequeno);
    font-style: italic;
    grid-area: por;
    margin-left: .5em;
}

.categoria {
    color: var(--fundo);
    font-size: var(--texto-pequeno);
    text-align: right;
    grid-area: cat;
    margin-right: 1em;
}

.quadrado {
    border: 1px dashed var(--cor-texto);
}

.frase-traduzida, .pergunta, .resposta {
    font-size: var(--texto-normal);
}

@media only screen and (min-width: 600px) {

    body {
        height: 100vh;
    }

    .flip-img {
        width: 400px;
        height: 400px;
    }

    .intro, .ficha, .frases, .perguntas {
        width: 400px;
        height:400px;
        padding: 1em 2em;
        border-radius: 10px;
    }

    .intro-texto {
        padding: 1em 0;
    }

    .botoes {
        flex-direction: row;
        flex-flow: row wrap;
    }

    .seq, .ale, .fra, .per {
        flex: 1;
        margin: 0 .8em .8em;
        font-size: 1.3em;
    }

    .portugues {
        margin-left: 0;
    }

    .categoria {
        margin-right: 0;
    }
}