@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-ficha: #00000080;
  --cor-escura: #00132E;
  --cor-texto: #FFEEBB;
  --cor-fundo-1: #F1CEB3;
  --cor-fundo-2: #61363A;
  --texto-pequeno: 1em;
  --texto-normal: 1.5em;
  --texto-medio: 3em;
  --texto-grande: 4em;
  --fonte: 'Roboto', sans-serif;
  --peso-fonte-1: 100;
  --peso-fonte-2: 300;
  --peso-fonte-3: 400;
  --peso-fonte-4: 700;
}

/*
========
 Seções 
========
- Geral
- Intro
- Ficha
- Frases
- Perguntas
- Media Queries*/

/*Geral*/

body {
    background: var(--cor-fundo-2) url("images/leon-liu-NiOyEHxAlpQ-unsplash-mobile.jpg") no-repeat center;
    background-size: cover;
    color: var(--cor-texto);
    font-family: var(--fonte);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-img {
    background-color: transparent;
    width: 100vw;
    height:100vh;
    perspective: 1000px;
}

.flip-img-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-img-front, .flip-img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-img-front {
    background-color: var(--cor-escura);
}

.flip-img-back {
    background-color: var(--cor-escura);
    transform: rotateY(180deg);
}

/*Intro*/

.intro, .frases, .perguntas {
    background-color: var(--cor-ficha);
    width: 100vw;
    height:100vh;
    margin: 1em;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.intro-titulo {
    padding: 1em .5em;
    text-align: center;
}

.intro-texto {
    font-weight: var(--peso-fonte-2);
    padding: 1em;
}

.intro-final {
    font-weight: var(--peso-fonte-4);
}

.botao-menu {
    color: var(--cor-texto);
    border: 1px solid var(--cor-texto);
    background-color: transparent;
    border-radius: 15px;
    padding: .5em .75em;
    margin: 0.8em 0 1.5em;/*.8em;*/
    font-weight: var(--peso-fonte-3);
    font-size: 1.1em;
    cursor: pointer;
}

.menu-suspenso {
    position: relative;
    display: inline-block;
}

.menu-paginas {
    display: none;
    position: absolute;
    background-color: var(--cor-fundo-2);
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.menu-paginas p {
    padding: 1em 1.5em;
    border-radius: 15px;
}

.menu-paginas p:hover {
    background-color: var(--cor-escura);
}

.menu-suspenso:hover .menu-paginas {
    display: block;
    bottom: 100%; 
}
 .per {
    color: var(--cor-escura);
 }

/*Ficha*/

.ficha {
    width: 100vw;
    height:100vh;
    padding: 2em;
    background-color: var(--cor-ficha);
    display: grid;
    align-items: start;
    grid-template-areas:
    'por . cat'
    'pin pin pin'
    'han han han'
    'bot bot bot';
}

.portugues {
    color: var(--cor-fundo-1);
    font-size: var(--texto-pequeno);
    font-style: italic;
    grid-area: por;
    margin-left: .5em;
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-content: flex-end; 
    font-size: var(--texto-pequeno);
    font-weight: var(--peso-fonte-2);
    color: var(--cor-texto);
    grid-area: bot;
    align-self: center;
}

.botao-geral {
    cursor: pointer;
    border-radius: 15%;
    border: 1px solid var(--cor-texto);
    background-color: transparent;
    padding: .5em;
    width: 27%;
    text-align: center;
}

.categoria {
    color: var(--cor-fundo-1);
    font-size: var(--texto-pequeno);
    text-align: right;
    grid-area: cat;
    margin-right: 1em;
}

.pinyin {
    font-size: var(--texto-normal);
    text-align: center;
    padding-top: 1em;
    grid-area: pin;
}

.hanzi {
    font-size: var(--texto-grande);
    text-align: center;
    grid-area: han;
}

/*Frases*/

.frases {
    line-height: 1;
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding: 1em;
}

.frases-hanzi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-top: .5em;
}

.hanzi-frase {
    font-size: var(--texto-medio);
    margin: .2em;
}

.frase-pinyin {
    padding: 0.5em 0;
}

.frase-original, .frase-traduzida, .pergunta, .resposta {
    font-size: var(--texto-normal);
    text-align: center;
}

.certo {
    opacity: 0;
    color: lightgreen;
    font-size: var(--texto-medio);
}

.frase-resultado {
    padding-top: 1em;
    display: flex;
    transform: translateX(20px);
}

.frase-navega {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-proximo, .botao-inicio {
    border: 1px solid var(--cor-texto);
    border-radius: 5px;
    padding: .5em .75em;
    margin-top: 1em;
    font-size: var(--texto-pequeno);
}

/*Perguntas*/

/*Media Queries*/

@media only screen and (min-width: 600px) {

    body {
        background-image: url("images/leon-liu-NiOyEHxAlpQ-unsplash.jpg");
        height: 100vh;
    }

    .flip-img {
        width: 600px;
        height: 400px;
    }

    .intro, .ficha, .frases, .perguntas {
        width: 600px;
        height:400px;
        padding: 2rem;
        border-radius: 10px;
    }

    .intro-titulo {
        padding-top: 0;
    }

    .intro-texto {
        padding: 1em 0;
        line-height: 1.7;
    }

    .botao-menu {
        margin: .8em;
        padding: 0.5em 1em;
    }

    .portugues {
        margin-left: 0;
    }

    .categoria {
        margin-right: 0;
    }

    audio {
        padding-bottom: 0;
    }

    .frases-hanzi {
        padding: 2em 1em;
    }

    .hanzi-frase {
        margin: .1em;
    }

    .frase-resultado {
        padding-top: 1em;
    }

    .frase-navega {
        flex-direction: row-reverse;
        align-content: flex-end;
    }

    .botao-proximo, .botao-inicio {
        margin: 0 3em;
    }

    .botao-geral {
        border-radius: 15px;
    }

    .botoes {
        align-self: flex-end;
    }
}