@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo: #F1CEB3;
  --ficha: #00000080;
  --cor-escura: #0A0A0A;
  --cor-texto: #FFEEBB;
  --texto-pequeno: 1em;
  --texto-normal: 1.5em;
  --texto-medio: 3em;
  --texto-grande: 4em;
  --fonte: 'Roboto', sans-serif;
  --peso-fonte-1: 100;
  --peso-fonte-2: 300;
  --peso-fonte-3: 400;
  --peso-fonte-4: 700;
}

/*
========
 Seções 
========
- Geral
- Intro
- Ficha
- Frases
- Perguntas
- Media Queries*/

/*Geral*/

body {
    background: var(--fundo) url("images/leon-liu-NiOyEHxAlpQ-unsplash.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    color: var(--cor-texto);
    font-family: var(--fonte);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-img {
    background-color: transparent;
    width: 100vw;
    height:100vh;
    perspective: 1000px;
}

.flip-img-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-img-front, .flip-img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-img-front {
    background-color: var(--cor-escura);
}

.flip-img-back {
    background-color: var(--cor-escura);
    transform: rotateY(180deg);
}

/*Intro*/

.intro, .frases, .perguntas {
    background-color: var(--ficha);
    width: 100vw;
    height:100vh;
    margin: 1em;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.intro-titulo {
    padding-top: 1em;
}

.intro-texto {
    font-weight: var(--peso-fonte-2);
    padding: 1em;
}

.intro-final {
    font-weight: var(--peso-fonte-4);
}

.botoes {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.seq, .ale, .fra, .per {
    width: 100%;
    text-align: center;
    align-self: center;
    border: 1px solid var(--cor-texto);
    border-radius: 10%;
    padding: .5em .75em;
    margin: .8em;
    font-weight: var(--peso-fonte-3);
    font-size: 1.2em;
}

/*Ficha*/

.ficha {
    width: 100vw;
    height:100vh;
    padding: 2em;
    background-color: var(--ficha);
    display: grid;
    grid-template-areas:
    'por . cat'
    'pin pin pin'
    'han han han'
    'som som som';
}

.portugues {
    color: var(--fundo);
    font-size: var(--texto-pequeno);
    font-style: italic;
    grid-area: por;
    margin-left: .5em;
}

.categoria {
    color: var(--fundo);
    font-size: var(--texto-pequeno);
    text-align: right;
    grid-area: cat;
    margin-right: 1em;
}

.pinyin {
    font-size: var(--texto-normal);
    text-align: center;
    padding-top: 1em;
    grid-area: pin;
}

.hanzi {
    font-size: var(--texto-grande);
    text-align: center;
    grid-area: han;
}

audio {
    font-size: var(--texto-normal);
    text-align: center;
    margin-top: 0;
    padding-bottom: 1em;
    grid-area: som;
}

/*Frases*/

.frases {
    line-height: 1;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.frases-hanzi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 2em;
}

.hanzi-frase {
    font-size: var(--texto-medio);
    margin: .2em;
}

.frase-pinyin {
    padding: 0.5em 0;
}

.frase-original, .frase-traduzida, .pergunta, .resposta {
    font-size: var(--texto-normal);
    text-align: center;
}

.certo {
    opacity: 0;
    color: lightgreen;
    font-size: var(--texto-medio);
}

.frase-resultado {
    padding-top: 1em;
    display: flex;
    transform: translateX(20px);
}

/*Perguntas*/

/*Media Queries*/

@media only screen and (min-width: 600px) {

    body {
        height: 100vh;
    }

    .flip-img {
        width: 600px;
        height: 400px;
    }

    .intro, .ficha, .frases, .perguntas {
        width: 600px;
        height:400px;
        padding: 2rem;
        border-radius: 10px;
    }

    .intro-titulo {
        padding-top: 0;
    }

    .intro-texto {
        padding: 1em 0;
        line-height: 1.7;
    }

    .botoes {
        flex-direction: row;
        flex-flow: row wrap;
        padding: 1em 0 0 0;
    }

    .seq, .ale, .fra, .per {
        flex: 1;
        margin: 0 .8em .8em;
        padding: .3em .5em;
        font-size: 1.1em;
    }

    .portugues {
        margin-left: 0;
    }

    .categoria {
        margin-right: 0;
    }

    audio {
        padding-bottom: 0;
    }

    .frases-hanzi {
        padding: 2em 1em;
    }

    .hanzi-frase {
        margin: .1em;
    }

    .frase-resultado {
        padding-top: 1em;
    }
}